.rootContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    border-bottom: orange solid 2px;
}
.leftContainer {
    display: flex;
}
.icon {
    margin-right: 10px;
}
.title {
}
.date {
}