.rootContainer {
    display: flex;
    height: 45px;
    align-items: center;
    padding-left: 8px;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: orange solid 2px;
    cursor: move;
}
.rootContainer:active {
    border: orange solid 3px;
}
.leftContainer {
    display: flex;
}
.icon {
    margin-right: 10px;
}
.title {
}
.date {
}